@charset "utf-8";
/* 
    СБРОС СТИЛЕЙ ПО УМОЧАНИЮ
    УСТАНОВКА СТИЛЕЙ ДЛЯ ОСНОВНЫХ НЕВИДИМЫХ БЛОКОВ
*/

@font-face {
    font-family: "symbols-technomart";
    src: url("../font/symbols-technomart.eot?22619757");
    src: url("../font/symbols-technomart.eot?22619757#iefix") format("embedded-opentype"), url("../font/symbols-technomart.woff?22619757") format("woff"), url("../font/symbols-technomart.ttf?22619757") format("truetype"), url("../font/symbols-technomart.svg?22619757#symbols-technomart") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: white;
}

p,
ul,
h3,
h2,
h1,
input,
figure {
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}

figure {
    line-height: 0;
}

ul {
    list-style: none;
}

label {
    display: block;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* ОСНОВНЫЕ СТИЛИ САЙТА */

.header-upper-logo {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-upper-search input {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input::-webkit-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input:-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input:-ms-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input:focus::-webkit-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input:focus::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input:focus:-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input:focus:-ms-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-cart,
.header-upper-order,
.header-upper-bookmark {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.header-upper-cart:active,
.header-upper-bookmark:active {
    color: rgba(255, 255, 255, .6);
}

.header-upper-order:active {
    color: rgba(255, 255, 255, .5);
}

.header-middle-about {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
    font-style: italic;
}

.header-user-login,
.header-block-user,
.header-user-registration,
.header-contacts-telephone {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #e9292a;
}

.header-contacts-address {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;
}

.header-user-login,
.header-block-user,
.header-user-registration {
    color: #000000;
    text-decoration: none;
}

.header-user-login:hover,
.header-user-registration:hover {
    color: #ee3643;
}

.header-user-login:active,
.header-block-user:active,
.header-user-registration:active {
    color: rgba(0, 0, 0, .3);
}

.header-bottom-panel a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.offer-item-type {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-btn,
.filter-btn,
.service-btn,
.popular-btn,
.feedback-btn,
.cart-order-btn,
.feedback-cancel,
.cart-cancel-btn,
.offer-item-info,
.catalog-item-buy,
.company-about-btn,
.company-feedback-btn,
.catalog-item-bookmark {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.offer-slider-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.offer-slider-info,
.footer-panel-offer a,
.footer-panel-address,
.footer-panel-contacts a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.popular-text,
.service-title,
.catalog-title,
.perforators-title,
.company-promo-title,
.company-contacts-title,
.cart-notification-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.cart-notification-title {
    text-transform: none;
    color: #000000;
}

.service-title,
.company-promo-title,
.company-contacts-title {
    color: #000000;
}

.service-list-column a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.service-list-column .service-list-active {
    color: #32425c;
}

.service-details-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-item-bookmark {
    color: #32425c;
}

.catalog-item-bookmark:active {
    opacity: .3;
}

.company-promo-list li {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}

.footer-panel-logo {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-panel-offer a {
    color: #ffd180;
    text-decoration: none;
}

.footer-panel-offer a:hover,
.footer-panel-contacts a:hover {
    text-decoration: underline;
}

.footer-panel-offer a:active {
    opacity: .5;
    text-decoration: none;
}

.footer-panel-contacts a:active {
    opacity: .5;
    text-decoration: none;
}

.footer-bottom-design,
.footer-bottom-feedback,
.footer-bottom-copyright {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom-design a,
.footer-bottom-feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer-bottom-design a:hover,
.footer-bottom-feedback a:hover {
    text-decoration: underline;
}

.footer-bottom-design a:active,
.footer-bottom-feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.feedback-data {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.filter-btn,
.feedback-cancel,
.cart-cancel-btn {
    color: #000000;
}

.feedback input,
.feedback textarea {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.feedback input:-moz-placeholder,
.feedback textarea:-moz-placeholder {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.feedback input:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.catalog-item-model,
.catalog-item-vendor {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

.catalog-item-price,
.catalog-item-discount {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}

.catalog-item-price {
    color: #999999;
    text-decoration: line-through;
}

.perforators-about,
.company-promo-info,
.service-title-info,
.service-details-info,
.company-contacts-info {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.header-links-element {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
}

.header-links-element:hover {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ee3643;
}

.header-links-element:active {
    color: #b7bfc8;
}

.breadcrumbs a,
.breadcrumbs span,
.catalog-options span,
.catalog-paginator a,
.catalog-paginator span,
.catalog-filter-column p {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column h3 {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-paginator span {
    color: #ffffff;
}

.catalog-filter-column label {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column span,
.catalog-filter-column input[type="text"] {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.catalog-options-variant {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #c9c9c9;
    border-bottom-style: dotted;
    border-bottom-color: #ee3643;
    border-bottom-width: thin;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-options-variant:hover {
    color: #000000;
    border-bottom-style: solid;
}

.catalog-options-variant:active {
    color: #ee3643;
    border-bottom-style: none;
}

/* СТИЛИ ДЛЯ ВЕРХНЕГО МЕНЮ */

header {
    padding-bottom: 60px;
    margin-bottom: 22.5px;
    background-color: #f2f6f8;
}

.header-upper-panel {
    box-sizing: border-box;
    min-height: 42px;
    margin-bottom: 47px;
    font-size: 0;
    background-color: #293449;
}

.header-upper-panel a,
.header-upper-panel form,
.header-upper-search label,
.header-upper-panel .header-upper-search {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.header-upper-logo {
    width: 220px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 52px;
    padding-right: 50px;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

.header-upper-logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.header-upper-logo:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.header-upper-search input {
    box-sizing: border-box;
    width: 270px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 49px;
    outline: 0;
    border: none;
    background-color: #293449;
    outline: none;
    border: none;
}

.header-upper-search label {
    position: relative;
}

.header-upper-search label::before {
    position: absolute;
    top: 12px;
    left: -252px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f50d";
    cursor: pointer;
    color: #6a7180;
}

input[type="search"]:hover ~ label::before {
    color: #ffffff;
}

input[type="search"]:focus ~ label::before,
input[type="search"]:active ~ label::before {
    color: #ee3643;
}

.header-upper-search input:focus {
    background-color: #ffffff;
}

.header-upper-cart,
.header-upper-bookmark {
    position: relative;
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
}

.header-upper-bookmark::before {
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f516";
    cursor: pointer;
    color: #6a7180;
}

.header-upper-bookmark:hover::before {
    color: #ffffff;
}

.header-upper-bookmark:active::before {
    color: #a2a5a9;
}

.header-upper-cart::before {
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\62";
    cursor: pointer;
    color: #6a7180;
}

.header-upper-cart:hover::before {
    color: #ffffff;
}

.header-upper-cart:active::before {
    color: #a2a5a9;
}

.header-cart-full {
    background-color: #ee3643;
}

.header-cart-full::before {
    color: #f3737c;
}

.header-upper-cart.header-cart-full:active {
    background-color: #ba2732;
}

.header-upper-order {
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-color: #63a63e;
}

.header-upper-cart:active,
.header-upper-bookmark:active {
    background-color: #161d29;
}

.header-upper-order:hover {
    background-color: #5fbb2d;
}

.header-upper-order:active {
    background-color: #518534;
}

/* СТИЛИ ДЛЯ СРЕДНЕГО МЕНЮ */

.header-middle-panel {
    margin-top: 100px;
    margin-bottom: 37px;
}

.header-middle-about {
    float: left;
    width: 200px;
    white-space: pre-line;
    margin-right: 70px;
    padding-left: 50px;
}

.header-middle-contacts {
    float: left;
    width: 270px;
}

.header-middle-user {
    float: right;
    width: 300px;
}

.header-contacts-telephone {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 70px;
    padding-right: 42px;
    margin-bottom: 5px;
    border: 3px solid #ffffff;
}

.header-contacts-telephone::before {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f4de";
    color: #b7bfc8;
}

.header-contacts-address {
    text-align: center;
}

.header-block-user {
    position: relative;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 45px;
    background-color: #ffffff;
}

.header-block-user::before {
    position: absolute;
    top: 12px;
    left: 14px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f468";
    color: #c5c5c5;
}

.header-block-user::after {
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 20px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\241b";
    color: #c5c5c5;
}

.header-block-user:hover::after,
.header-block-user:hover::before {
    color: #000000;
}

.header-block-user:active::after,
.header-block-user:active::before {
    color: #b2b2b2;
}

.header-block-links {
    padding-top: 9px;
    font-size: 0;
}

.header-block-links a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

.header-block-links .header-links-element::before {
    opacity: 1;
    position: absolute;
    top: 7px;
    left: -16px;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    content: "";
}

.header-block-links a:first-child::before {
    display: none;
}

/* СТИЛИ ДЛЯ НИЖНЕГО МЕНЮ */

.header-bottom-panel {
    padding-left: 21px;
    font-size: 0;
    background-color: #32425c;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #293449;
}

.header-bottom-panel a {
    display: inline-block;
    vertical-align: top;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 31px;
    padding-right: 31px;
}

.header-bottom-panel a:hover {
    background-color: #293449;
}

.header-bottom-panel a:active {
    color: rgba(255, 255, 255, .5);
    background-color: #293449;
}

/* ВЕРСТА МЭЙН БЛОКА */

.breadcrumbs {
    position: relative;
    margin-left: 15px;
    margin-bottom: 22.5px;
    font-size: 0;
}

.breadcrumbs::after {
    position: absolute;
    top: 1px;
    left: -15px;
    font-size: 16px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f3e0";
    color: #c1c6ce;
    cursor: pointer;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-left: 39px;
}

.breadcrumbs li::before {
    position: absolute;
    top: 3px;
    left: -22px;
    font-size: 12px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #c1c6ce;
}

.catalog-title {
    padding-top: 27.5px;
    padding-bottom: 29.5px;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #f2f6f8;
}

/* ВЕРСТАЕМ ПАНЕЛЬ ФИЛЬТРОВ */

.catalog-filter-column {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.catalog-filter-column p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin-bottom: 10.5px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

/* ВЕРСТАЕМ КАТАЛОГ ТОВАРОВ */

.catalog-goods-column {
    float: right;
    width: 700px;
}

.catalog-options {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 19px;
    font-size: 0;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-options span {
    float: left;
    width: 100px;
    padding-left: 20px;
}

.catalog-options .catalog-options-parameters {
    float: right;
    width: 480px;
}

.catalog-options-parameters a,
.catalog-options-parameters label {
    display: inline-block;
    vertical-align: top;
}

.catalog-options-price {
    margin-right: 70px;
}

.catalog-options-type {
    margin-right: 65px;
}

.catalog-options-functions + label {
    margin-left: 45px;
}

.catalog-up-arrow {
    position: relative;
    margin-left: 40px;
    text-decoration: none;
}

.catalog-down-arrow {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
}

.catalog-options-active {
    color: #ee3643;
    border-bottom: none;
}

.catalog-options-active:hover {
    color: #ee3643;
    border-bottom: none;
}

.catalog-up-arrow::before {
    position: absolute;
    top: -7px;
    left: 0;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25b2";
    color: #c6c2bd;
}

.catalog-up-arrow:hover::before {
    color: #000000;
}

.catalog-down-arrow::before {
    position: absolute;
    top: -7px;
    left: 40px;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25bc";
    color: #c6c2bd;
}

.catalog-down-arrow:hover::before {
    color: #000000;
}

.catalog-options-active::before,
.catalog-up-arrow:active::before,
.catalog-down-arrow:active::before {
    color: #ee3643;
}

/* ОФОРМЛЕНИЕ ДЛЯ БЛОКА ФИЛЬТРА */

.catalog-filter-title {
    margin-bottom: 14.5px;
}

.catalog-filter-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 9px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-range-filter {
    font-size: 0;
    padding-bottom: 25px;
    margin-bottom: 16.5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e5e5e5;
}

.catalog-filter-scale {
    position: relative;
    height: 2px;
    background-color: #d7dcde;
}

.catalog-scale-bar {
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #00ca74;
}

.catalog-scale-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
    background-color: #ffffff;
}

.catalog-scale-toggle::before {
    position: absolute;
    top: 7px;
    left: 7.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ababab;
    content: "";
}

.catalog-min-toggle {
    top: 30px;
}

.catalog-max-toggle {
    top: 30px;
    left: 150px;
}

.catalog-range-filter span,
.catalog-range-filter input {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.catalog-range-filter input {
    width: 95px;
    background-color: #f7f3ec;
    border-radius: 5px;
    border: none;
    outline: none;
}

.catalog-range-filter span,
.catalog-max-price {
    margin-left: 8px;
}

.catalog-filter-title + label {
    margin-top: 18px;
}

.catalog-filter-column input[type="radio"],
.catalog-filter-column input[type="checkbox"] {
    display: none;
}

.catalog-filter-column label {
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    position: absolute;
    top: 0;
    left: -35px;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25cb";
    color: #c1c1c1;
}

input[type="checkbox"] + label::before {
    content: "\2610";
}

input[type="radio"]:checked + label::before {
    content: "\25cf";
}

input[type="checkbox"]:checked + label::before {
    content: "\2611";
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
    color: #b5b5b5;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
    color: #e9e9e9;
}

input[type="checkbox"] ~ h3 {
    padding-top: 19.5px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #e5e5e5;
}

.filter-btn {
    padding-top: 11.5px;
    padding-bottom: 10.5px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 55px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-width: 1px;
    border-style: solid;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.filter-btn:hover {
    border-color: #bdc6ca;
}

.filter-btn:active {
    border-color: #ee3643;
}

/* СТИЛИ ДЛЯ ОСНОВНОГО КАТАЛОГА ТОВАРОВ */

.catalog-block {
    font-size: 0;
    margin-bottom: 31px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.new-item::before,
.new-item .catalog-item-buttons::before {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 25px;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    top: 10px;
    right: -30px;
    color: white;
    background-color: #ee3643;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item-image {
    width: 218px;
    height: 169px;
    margin-bottom: 12px;
}

.catalog-item-model,
.catalog-item-price,
.catalog-item-vendor,
.catalog-item-discount {
    text-align: center;
    margin: 0 auto;
}

.catalog-item-model {
    margin-bottom: 11.5px;
}

.catalog-item-price {
    margin-bottom: 7.5px;
}

.catalog-item-discount {
    position: relative;
    width: 122px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #ee3643;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.catalog-item-discount::after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent #ee3643;
    content: "";
}

.catalog-item-model + .catalog-item-discount {
    margin-top: 37px;
}

.catalog-item-buttons {
    position: absolute;
    display: none;
    top: 0;
    width: 218px;
    height: 124px;
    padding-top: 45px;
    background-color: #ffffff;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border: 1px solid transparent;
}

.catalog-item:hover .catalog-item-buttons {
    display: block;
}

.catalog-item-buy {
    position: relative;
    display: block;
    text-align: center;
    width: 135px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #63a63e;
    margin: 0 auto 7px;
    border-radius: 5px;
}

.catalog-item-buy:hover {
    background-color: #5fbb2d;
}

.catalog-item-buy:active {
    background-color: #518534;
    box-shadow: none;
}

.catalog-item-bookmark {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 129px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    border: solid 3px #63a63e;
}

.catalog-item-bookmark:hover {
    border-color: #32425c;
}

.catalog-item-bookmark:active {
    border-color: #32425c;
}

/* ПАГИНАТОР */

.catalog-paginator {
    font-size: 0;
    margin-bottom: 60px;
}

.catalog-paginator a,
.catalog-paginator span {
    display: inline-block;
}

.catalog-paginator a,
.catalog-paginator span {
    padding-top: 9.5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.catalog-paginator a:hover {
    border-color: #bdc6ca;
}

.catalog-paginator a:active {
    border-color: #ee3643;
}

.catalog-paginator .catalog-paginator-next {
    padding-left: 31px;
    padding-right: 31px;
}

.catalog-paginator .catalog-paginator-active {
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.perforators {
    padding-top: 65px;
    padding-bottom: 68px;
    background-color: #f2f6f8;
}

.perforators-title {
    margin-bottom: 25px;
}

/* ФУТЕР */

footer {
    background-color: #32425c;
}

.footer-upper-panel {
    min-height: 63px;
    margin-bottom: 32px;
}

.footer-panel-logo {
    float: left;
    width: 220px;
    padding-top: 19px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

.footer-panel-logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.footer-panel-logo:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.footer-panel-contacts {
    float: right;
    width: 600px;
    font-size: 0;
    padding-top: 39px;
}

.footer-panel-contacts li {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    text-align: right;
}

.footer-panel-contacts li:last-child {
    margin-right: 0;
}

.footer-middle-panel {
    margin-bottom: 50px;
}

.footer-panel-address {
    float: left;
    width: 330px;
}

.footer-panel-offer {
    float: right;
    width: 520px;
    font-size: 0;
    text-align: right;
}

.footer-panel-offer li {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    text-align: left;
}

.footer-panel-offer li:last-child {
    margin-right: 0;
}

.footer-bottom-panel {
    padding-top: 36px;
    padding-bottom: 35px;
    background-color: #293449;
}

.footer-bottom-copyright {
    float: left;
    width: 240px;
    margin-right: 150px;
}

.footer-bottom-social {
    float: left;
    width: 135px;
    margin-right: 117px;
    min-height: 40px;
    font-size: 0;
}

.footer-social-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #212a3a;
}

.footer-social-btn:last-child {
    margin-right: 0;
}

.footer-social-btn::before {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\76";
    color: #ffffff;
}

.footer-social-fb::before {
    content: "\66";
    top: 10px;
    left: 15px;
}

.footer-social-inst::before {
    content: "\1f4f7";
    top: 11px;
    left: 14px;
}

.footer-social-btn:hover,
.footer-social-btn:active {
    background-color: #ee3643;
}

.footer-bottom-design {
    float: right;
    width: 110px;
}

.footer-bottom-feedback {
    float: left;
    width: 140px;
}

/* НЕВИДИМЫЕ БЛОКИ САЙТА */

.cart-notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    padding-top: 66px;
    margin-top: -200px;
    margin-left: -300px;
    background-color: #ffffff;
    border-top: solid 7px #ee3643;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    z-index: 5000;
}

.cart-notification-close {
    position: absolute;
    right: 40px;
    top: 20px;
}

.cart-notification-close:before {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.cart-notification-close:after {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.cart-notification-close:hover:before,
.cart-notification-close:hover:after {
    background-color: #ca2c37;
}

.cart-notification-close:active:before,
.cart-notification-close:active:after {
    background-color: #ba2732;
}

.cart-notification-title {
    position: relative;
    margin-left: 180px;
    margin-bottom: 68px;
}

.cart-notification-title:before {
    position: absolute;
    top: -20px;
    left: -100px;
    width: 65px;
    height: 65px;
    background: -21px -616px url("../img/sprites.png") no-repeat;
    content: "";
}

.cart-notification-decision {
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 80px;
    font-size: 0;
    background-color: #f1f1f1;
}

.cart-order-btn,
.cart-cancel-btn {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 9px;
    margin-right: 20px;
    border-style: none;
    border-radius: 5px;
    outline: none;
}

.cart-order-btn {
    padding-left: 59px;
    padding-right: 62px;
    background-color: #ee3643;
}

.cart-order-btn:hover {
    background-color: #ca2c37;
}

.cart-order-btn:active {
    background-color: #ba2732;
}

.cart-cancel-btn {
    padding-left: 44px;
    padding-right: 48px;
    background-color: #ffffff;
}

.cart-cancel-btn:hover {
    color: #ee3643;
}

.cart-cancel-btn:active {
    color: rgba(0, 0, 0, .6);
}

.feedback {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    padding-top: 48px;
    margin-top: -250px;
    margin-left: -300px;
    border-top: solid 7px #ee3643;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    background-color: #ffffff;
    z-index: 5000;
}

.feedback-userdata,
.feedback-block-buttons {
    padding-left: 80px;
    padding-right: 80px;
}

.feedback-close {
    position: absolute;
    right: 40px;
    top: 20px;
}

.feedback-close:before {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.feedback-close:after {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.feedback-close:hover:before,
.feedback-close:hover:after {
    background-color: #ca2c37;
}

.feedback-close:active:before,
.feedback-close:active:after {
    background-color: #ba2732;
}

.feedback-left-column {
    float: left;
    width: 220px;
}

.feedback-right-column {
    float: right;
    width: 220px;
}

.feedback-block {
    margin-bottom: 22px;
}

.feedback-data,
.feedback-block label {
    margin-bottom: 9px;
}

.feedback-block input {
    width: 202px;
    padding-top: 9.5px;
    padding-bottom: 7.5px;
    padding-left: 14px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
}

textarea {
    width: 440px;
    height: 98.5px;
    padding-top: 9.5px;
    padding-left: 14px;
    margin-bottom: 30px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    overflow: auto;
    resize: none;
}

textarea:focus,
.feedback-block input:focus {
    outline: none;
}

.feedback-block-buttons {
    background-color: #f1f1f1;
}

.feedback-block-buttons {
    padding-top: 37px;
    padding-bottom: 37px;
    font-size: 0;
}

.feedback-btn:last-child {
    margin-right: 0;
}

.feedback-btn,
.feedback-cancel {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 78px;
    padding-right: 81px;
    margin-right: 20px;
    border-style: none;
    border-radius: 5px;
    outline: none;
    background-color: #ee3643;
}

.feedback-btn:hover {
    background-color: #ca2c37;
}

.feedback-btn:active {
    background-color: #ba2732;
}

.feedback-cancel {
    padding-left: 85px;
    padding-right: 89px;
    background-color: #ffffff;
}

.feedback-cancel:hover {
    color: #ee3643;
    background-color: #ffffff;
}

.feedback-cancel:active {
    color: rgba(0, 0, 0, .6);
    background-color: #ffffff;
}

.map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 940px;
    height: 447px;
    margin-left: -470px;
    margin-top: -230px;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    z-index: 5000;
}

.map-script,
.map figure {
    width: 940px;
    height: 447px;
    margin: 0 auto;
    background-color: #E9E5DC;
}

.map-close {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.map-close:before {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.map-close:after {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.map-close:hover:before,
.map-close:hover:after {
    background-color: #ca2c37;
}

.map-close:active:before,
.map-close:active:after {
    background-color: #ba2732;
}

.header-user-login,
.header-user-registration {
    display: inline-block;
}

.header-user-login {
    position: relative;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 27px;
    background-color: #ffffff;
}

.header-middle-user {
    font-size: 0;
}

.header-middle-user a:last-child {
    margin-right: 0;
}

.header-user-login:before {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 20px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\241b";
    opacity: .3;
    color: #000000;
}

.header-user-login:hover:before {
    color: #ee3643;
    opacity: 1;
}

.header-user-login:active:before {
    color: #000000;
    opacity: .3;
}

.header-user-registration {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffffff;
}

.header-user-login {
    margin-right: 10px;
}

.header-user-connected {
    width: 285px;
}

/* ВЕРСТКА БЛОКА ПРЕДЛОЖЕНИЙ */

.header-main {
    margin-bottom: 59px;
}

.offer {
    font-size: 0;
    margin-bottom: 20px;
}

.offer .offer-item {
    display: inline-block;
}

.offer-item {
    position: relative;
    width: 277px;
    min-height: 101px;
    padding-top: 23px;
    padding-left: 23px;
    overflow: hidden;
}

.offer .offer-item {
    margin-right: 20px;
}

.offer .offer-item:nth-child(3n) {
    margin-right: 0;
}

.offer-item-type {
    margin-bottom: 15px;
}

.offer-item-info {
    display: block;
    text-align: center;
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.offer-item-info:hover {
    background-color: rgba(0, 0, 0, .2);
}

.offer-item-info:active {
    background-color: rgba(0, 0, 0, .3);
}

.offer-material {
    background-color: #f6b22d;
}

.offer-material:after {
    position: absolute;
    top: 31px;
    left: 213px;
    width: 45px;
    height: 65px;
    background: -39px -31px url("../img/sprites.png") no-repeat;
    content: "";
}

.offer-tool {
    background-color: #4aafde;
}

.offer-tool:after {
    position: absolute;
    top: 31px;
    left: 198px;
    width: 76px;
    height: 65px;
    background: -24px -153px url("../img/sprites.png") no-repeat;
    content: "";
}

.offer-equipment {
    background-color: #85d179;
}

.offer-equipment:after {
    position: absolute;
    top: 31px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: -22px -275px url("../img/sprites.png") no-repeat;
    content: "";
}

.offer-discount {
    background-color: #cc79d1;
}

.offer-discount:after {
    position: absolute;
    top: 31px;
    left: 195px;
    width: 60px;
    height: 75px;
    background: -32px -394px url("../img/sprites.png") no-repeat;
    content: "";
}

.offer-delivery {
    background-color: #f6b22d;
}

.offer-delivery:after {
    position: absolute;
    top: 31px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: -23px -522px url("../img/sprites.png") no-repeat;
    content: "";
}

/* СЛАЙДЕР */

.bottom-offer {
    margin-bottom: 53px;
}

.offer-slider-block {
    position: relative;
    float: left;
    width: 620px;
    min-height: 266px;
    overflow: hidden;
}

.offer-slider-items {
    width: 200%;
    transition: transform .8s ease;
}

.offer-slider-item {
    display: block;
    float: left;
    width: 620px;
    min-height: 266px;
}

.offer-slider-drill,
.offer-slider-perforator {
    display: none;
}

.offer-slider-drill + label:after,
.offer-slider-perforator + label:after {
    position: absolute;
    top: 220px;
    left: 300px;
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #ffffff;
    z-index: 1000;
    content: "";
}

.offer-slider-perforator + label:after {
    top: 220px;
    left: 315px;
}

.offer-slider-drill:checked + label:after,
.offer-slider-perforator:checked + label:after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: #ee3643;
}

.offer-slider-drill:checked ~ .offer-slider-items {
    transform: translate(0);
}

.offer-slider-perforator:checked ~ .offer-slider-items {
    transform: translate(-620px);
}

.offer-slider-item .slider-btn {
    margin-left: 24px;
}

.offer-slider-header {
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 24px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, .25);
}

.offer-slider-title {
    margin-bottom: 1px;
}

.offer-slider-drills {
    background: no-repeat #77685b url("../img/offer-slider-drill.jpg");
}

.offer-slider-perforators {
    background: no-repeat #77685b url("../img/offer-slider-perforator.jpg");
}

.slider-btn {
    display: block;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ee3643;
    text-align: center;
    border-radius: 5px;
    z-index: 1010;
}

.slider-btn:hover {
    background-color: #ca2c37;
}

.slider-btn:active {
    background-color: #ba2732;
}

.offer-block {
    float: right;
}

.offer-block .offer-discount {
    margin-bottom: 20px;
}

.offer-left-arrow:before {
    position: absolute;
    top: 115px;
    left: 24px;
    font-size: 40px;
    line-height: 40px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3c";
    color: #ffffff;
    z-index: 1000;
}

.offer-right-arrow:before {
    position: absolute;
    top: 115px;
    right: 24px;
    font-size: 40px;
    line-height: 40px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #ffffff;
    z-index: 1000;
}

.offer-left-arrow:hover:before,
.offer-right-arrow:hover:before {
    color: #fb565a;
}

.offer-left-arrow:active:before,
.offer-right-arrow:active:before {
    color: rgba(255, 255, 255, .6);
}

.popular {
    padding-top: 28px;
    padding-bottom: 25px;
    margin-bottom: 18px;
    background-color: #f7f3ec;
}

.popular-text {
    float: left;
    width: 380px;
    margin-left: 30px;
}

.popular-btn {
    float: right;
    width: 250px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;
}

.popular-btn:hover {
    background-color: #ca2c37;
}

.popular-btn:active {
    background-color: #ba2732;
}

.catalog-popular {
    font-size: 0;
}

.catalog-popular .catalog-item:nth-child(3n) {
    margin-right: 20px;
}

.catalog-popular .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.brands {
    font-size: 0;
    margin-bottom: 63px;
}

.brands-logo {
    box-sizing: border-box;
    width: 220px;
    height: 147px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.brands-logo:focus {
    outline: none;
}

.brands-logo:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border-color: transparent;
}

.brands-logo:active {
    opacity: .3;
}

.brands .brands-logo:nth-child(4n) {
    margin-right: 0;
}

.service {
    padding-top: 64px;
    background-color: #f2f6f8;
}

.service-intro {
    margin-bottom: 65px;
}

.service-title {
    margin-bottom: 25px;
}

.service-list-column ul {
    position: relative;
    float: left;
    display: block;
    width: 240px;
}

.service-list-column ul:before {
    position: absolute;
    top: -27px;
    right: 0;
    width: 10px;
    min-height: 272px;
    background: 0 0 no-repeat url("../img/column-delimiter.png");
    content: "";
}

.service-list-column a {
    box-sizing: border-box;
    height: 60px;
    display: block;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 24px;
    background-color: #32425c;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}

.service-list-column a:focus {
    outline: none;
}

.service-list-column a:hover {
    background-color: #293449;
}

.service-list-column .service-list-active {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.service-list-column .service-list-active,
.service-list-column .service-list-active:hover {
    background-color: #ffffff;
}

.service-details-block {
    position: relative;
    display: none;
    float: right;
    width: 620px;
    min-height: 284px;
}

.service-details-title {
    margin-bottom: 26px;
}

.service-delivery-info {
    width: 280px;
}

.service-warrianty-info + .service-warrianty-info {
    width: 180px;
}

.service-details-delivery:before {
    position: absolute;
    width: 468px;
    height: 261px;
    bottom: 0;
    right: 0;
    background: 0 0 no-repeat url("../uploads/service-details-delivery-background.png");
    content: "";
}

.service-warrianty-info {
    width: 370px;
}

.service-warrianty-info + .service-warrianty-info {
    width: 400px;
}

.service-details-warrianty:before {
    position: absolute;
    width: 465px;
    height: 285px;
    bottom: 0;
    right: 0;
    background: 0 0 no-repeat url("../img/service-credit-background.png");
    content: "";
}

.service-credit-info {
    width: 220px;
}

.service-credit-info + .service-credit-info {
    width: 300px;
    margin-bottom: 29px;
}

.service-details-credit:before {
    position: absolute;
    width: 389px;
    height: 283px;
    bottom: 0;
    right: 0;
    background: 0 0 no-repeat url("../img/service-details-guarantee-background.png");
    content: "";
}

.service-btn {
    display: block;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ee3643;
}

.service-btn:hover {
    background-color: #ca2c37;
}

.service-btn:active {
    background-color: #ba2732;
}

.company {
    padding-top: 85px;
    padding-bottom: 86px;
}

.company-promo-column {
    float: left;
    width: 520px;
}

.company-contacts-column {
    float: right;
    width: 300px;
}

.company-promo-title,
.company-contacts-title {
    margin-bottom: 25px;
}

.company-promo-info {
    width: 520px;
    margin-bottom: 23px;
}

.company-promo-info + .company-promo-info {
    width: 380px;
    margin-bottom: 21.5px;
}

.company-promo-list {
    margin-left: 36px;
    margin-bottom: 34px;
}

.company-promo-list li {
    position: relative;
    margin-bottom: 20px;
}

.company-promo-list li:last-child {
    margin-bottom: 0;
}

.company-promo-list li:before {
    position: absolute;
    top: 7px;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
}

.company-about-btn,
.company-feedback-btn {
    width: 220px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;
}

.company-about-btn:hover,
.company-feedback-btn:hover {
    background-color: #ca2c37;
}

.company-about-btn:active,
.company-feedback-btn:active {
    background-color: #ba2732;
}

.company-contacts-info {
    width: 180px;
    margin-bottom: 31px;
}

.company-contacts-map {
    display: block;
    width: 300px;
    height: 160px;
    margin-bottom: 38px;
}

.company-contacts-map:focus {
    outline: none;
}

.company-feedback-btn {
    width: 100%;
}

@-webkit-keyframes bounce {
    0% {
        transform: translateX(-2000px);
    }
    70% {
        transform: translateX(30px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.show-block {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.show-block,
.service-details-active {
    display: block;
}